.note-window {
    height: 100%;
    padding: 1rem;
    padding-inline: .75rem;
    overflow: auto;
    padding-bottom: 20rem;

    font-size: .95rem;

    pre {
        background-color: rgba(43, 39, 39, 0.459) !important;
    }

}